div
  label(for="title") Title:
  input(type="text", name="title" value=book.title)
div
  label(for="author") Author:
  input(type="text", name="author" value=book.year)
div
  label(for="body") Body:
  textarea(name="body")= book.genre
input(type="submit")