extends ../layout

block content
  h2= book.title
  include by_line
  p= book.body
  a(href="../") &larr; Back 
  | | 
  a(href="/books/" + book.id + "/edit") Edit Article 
  | | 
  a(href="/books/" + book.id + "/delete") Delete Article